.nav-bar-search {
  width: 350px;

  form {
    height: 35px;

    position: relative;
  }

  input {
    height: 30px;
    width: 90%;
    padding: 5px;
    position: absolute;
    border: none;
    &:focus {
      outline: none;
      border: 1.5px solid #3483fa;
    }
  }

  button {
    background: #ffffff;
    height: 30px;
    border: none;
    width: 10%;
    position: absolute;
    right: 0;

    &::before {
      content: "";
      width: 1.5px;
      height: 50%;
      display: inline;
      background: rgb(227, 227, 227);
      position: absolute;
      left: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
