@import "./components/NavBar/NavBar.scss";
@import "./components/CategoriesList/CategoriesList.scss";
@import "./components/Carousel/Carousel.scss";
@import "./components/CarouselContainer/CarouselContainer.scss";
@import "./components/ItemList/ItemList.scss";
@import "./components/SearchBar/SearchBar.scss";
@import "./components/ItemDetail/ItemDetail.scss";
@import "./components/ItemOptions/ItemOptions.scss";
@import "./components/ItemDetailInfo/ItemDetailInfo.scss";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  // font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #ededed;
  font-family: "Roboto", sans-serif;
}
